%form{ role: "form", action: "/#@raffle/enter", method: "post" }
  .form-group
    %label{ for: "entry_email" } Email Address
    %input.form-control{ type: "email", id: "entry_email", name: "entry[email]", value: session[:email] }

  .checkbox
    %label
      %input{ type: "checkbox", id: "entry_present", name: "entry[present]", value: 1 }
      I understand that I must be present to win.

  %button{ type: "submit", class: "btn btn-success btn-lg", style: "width: 100%" } Submit
