%h1 Entries
- if @entries.any?
  %ul.list-group
    - @entries.each do |entry|
      %li.list-group-item= entry
  %a{ href: "/#@raffle/winner", type: "submit", class: "btn btn-success btn-lg", style: "width: 100%" } Pick a Winner
- else
  = haml :_no_entries
