%h1 Winner
%p
  Random selection from <a href="http://random.org"><code>random.org</code></a>, with a fallback to
  <a href="http://www.ruby-doc.org/core-2.0.0/Kernel.html#method-i-rand"><code>Random#rand</code></a>.

- if @entries.any?
  %div.list-group
    - @entries.each do |entry|
      %a.list-group-item{ href: "mailto:#{ entry }", class: ("active" if @winner == entry) }= entry
- else
  = haml :_no_entries
