%h1 Winner
%p Random selection from <a href="http://random.org">random.org</a>.

- if @entries.any?
  %div.list-group
    - @entries.each do |entry|
      %a.list-group-item{ href: "mailto:#{ entry }", class: ("active" if @winner == entry) }= entry
- else
  = haml :_no_entries
